<div>
  <form>
    <mat-form-field class='autocomplete-full-width'>
      <input type="text"
            placeholder="Pick one project"
            [(ngModel)]="selectedProject"
            aria-label="Project"
            id='project'
            matInput [formControl]="controlProject"
            [matAutocomplete]="autoProject">
    </mat-form-field>
    <mat-autocomplete #autoProject="matAutocomplete"
                      (optionSelected)="selectProject()"
                      [displayWith]="displayProject">
      <mat-option *ngFor="let project of filteredProjects | async" [value]="project">
        <span> {{project.name}} </span>
      </mat-option>
    </mat-autocomplete>
  </form>

  <form>
    <mat-form-field class='autocomplete-full-width'>
      <input type="text"
            placeholder="Pick one version"
            [(ngModel)]="selectedVersion"
            aria-label="Version"
            matInput [formControl]="controlVersion"
            [matAutocomplete]="autoVersion">
    </mat-form-field>
    <mat-autocomplete #autoVersion="matAutocomplete"
                      [displayWith]="displayVersion">
      <mat-option *ngFor="let version of filteredVersions | async" [value]="version">
        {{version.name}}
      </mat-option>
    </mat-autocomplete>
  </form>

  <p>
    <button mat-raised-button id='pdf' [disabled]="!(selectedProject && selectedVersion)" (click)="onClickSelect('pdf')">PDF</button> &nbsp;
    <button mat-raised-button id='doc' [disabled]="!(selectedProject && selectedVersion)" (click)="onClickSelect('doc')">DOC</button> &nbsp;
    <button mat-raised-button id='zip' [disabled]="!(selectedProject && selectedVersion)" (click)="onClickSelect('zip')">ZIP</button>
  </p>

  <p>
    Clear selection : &nbsp;
    <button mat-raised-button (click)="clear()">Clear</button>
  </p>
</div>
