<form>
    <mat-form-field class='autocomplete-full-width'>
      <input type="text"
            placeholder="Pick one context"
            [(ngModel)]="selectedContext"
            aria-label="Context"
            matInput [formControl]="controlContext"
            [matAutocomplete]="autoContext"
            (keyup.enter)="addOption()">
    </mat-form-field>
    <mat-autocomplete #autoContext="matAutocomplete"
                      (optionSelected)="contextSelect()"
                      [displayWith]="displayContext">
      <mat-option *ngFor="let context of filteredIssueContexts | async" [value]="context">
        {{context.description}}
      </mat-option>
    </mat-autocomplete>
  </form>
  <button mat-raised-button [disabled]="!(editOK)" (click)="openDialog()">Edit</button>
