<mat-form-field class='autocomplete-full-width'>
  <input type="text"
        placeholder="Pick one context"
        [(ngModel)]="selectedContext"
        aria-label="Context"
        matInput [formControl]="controlContext"
        [matAutocomplete]="autoContext">
  <button mat-button matSuffix mat-icon-button (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
  <button *ngIf="edit" matSuffix mat-icon-button (click)="editContext()">
    <mat-icon>create</mat-icon>
  </button>
</mat-form-field>
<mat-autocomplete #autoContext="matAutocomplete"
                  (optionSelected)="contextSelect()"
                  [displayWith]="displayContext">
  <mat-option *ngFor="let context of filteredIssueContexts | async" [value]="context">
    {{context.description}}
  </mat-option>
</mat-autocomplete>
