<form>
  <mat-form-field class='autocomplete-full-width'>
    <input type="text"
          placeholder="Pick one scope"
          [(ngModel)]="selectedReleaseNote"
          aria-label="Rln"
          matInput [formControl]="controlReleaseNote"
          [matAutocomplete]="autoReleaseNote">
  </mat-form-field>
  <mat-autocomplete #autoReleaseNote="matAutocomplete"
                    (optionSelected)="releaseNoteSelect()"
                    [displayWith]="displayReleaseNote">
    <mat-option *ngFor="let release of filteredReleaseNote | async" [value]="release">
      <span> {{release.name}} </span>
    </mat-option>
  </mat-autocomplete>
</form>
