<mat-card>
  <mat-card-header>
    <mat-card-title>Support</mat-card-title>
  </mat-card-header>
  <mat-card-content class="centred-content full-width full-height">
    <ng-container [ngSwitch]="status">
      <ng-container *ngSwitchCase="'loading'">
          <mat-spinner></mat-spinner>
      </ng-container>

      <ng-container *ngSwitchCase="'success'">
        <app-fit-text [color]="count.value >= 15 ? 'alert' : 'normal'" [text]="count.value"></app-fit-text>
      </ng-container>

      <ng-container *ngSwitchDefault >
          <app-fit-text [color]=" 'alert'" [text]="'Error'"></app-fit-text>
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>
