<mat-toolbar color="secondary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <button mat-mini-fab color="accent" [routerLink]="['.', 'new']">
      <mat-icon class="mat-18">add</mat-icon>
    </button> Iterations
  </mat-toolbar-row>
</mat-toolbar>

<mat-list>
  <mat-list-item *ngFor="let iteration of iterations" [routerLink]="['.', iteration.id]">
    <mat-icon mat-list-icon>autorenew</mat-icon>
    <h4 mat-line>{{iteration.name}}</h4>
    <p mat-line> {{iteration.start | date:'shortDate'}} to {{iteration.end | date:'shortDate'}}</p>
  </mat-list-item>
</mat-list>
