<h1 matDialogTitle>Pick issue from bugtracker</h1>


  <mat-dialog-content>
    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Issue label, reference">
      </mat-form-field>
      <table mat-table [dataSource]="data" matSort>

        <ng-container matColumnDef="issueId">
          <th class="ref" mat-header-cell *matHeaderCellDef mat-sort-header> Ref. </th>
          <td class="ref" mat-cell *matCellDef="let element"> {{element.issueId}} </td>
        </ng-container>

        <ng-container matColumnDef="problem">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
          <td mat-cell *matCellDef="let element">{{element.problem}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{'highlight': selectedRowIndex == row.id}"
            class="example-element-row"
            (click)="select(row)">
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div >
      <button mat-raised-button mat-dialog-close>Cancel</button>
      <button mat-raised-button color="primary" [mat-dialog-close]='selectedIssue'>Link issue</button>
    </div>
  </mat-dialog-actions>
