<mat-toolbar color="secondary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <span>Release Note</span>
    <span class="flex-spacer"></span>
    <button mat-button [routerLink]="['new']">ADD</button>
  </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="first; then thenBlock else elseBlock"></div>
<!-- Cas : Liste vide-->
<ng-template #thenBlock>
  <div class="mat-elevation-z8">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Create a first release Note</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <button mat-button [routerLink]="['new']">Add</button>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

<ng-template #elseBlock>
  <table mat-table [dataSource]="releaseNotes" class="full-width mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"><a [routerLink]="['edit', element.id]">{{ element.name }}</a></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-template>
