  <mat-form-field class='autocomplete-full-width'>
  <input type="text"
        placeholder="Pick a project"
        [(ngModel)]="selectedProject"
        aria-label="Project"
        matInput [formControl]="controlProject"
        required
        [matAutocomplete]="autoProject">
  </mat-form-field>
  <mat-autocomplete #autoProject="matAutocomplete"
                    (optionSelected)="projectSelect()"
                    [displayWith]="displayProject">
    <mat-option *ngFor="let project of filteredProjects | async" [value]="project">
      <span> {{project.name}} </span>
    </mat-option>
  </mat-autocomplete>

