<mat-toolbar color="secondary" class="mat-elevation-z6">
  <mat-toolbar-row>
    Release Note - {{issueToEdit?.releaseNote.name}} > {{issueToEdit?.issueId}}
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <mat-card-content>
    <div class="form-field-container" >
      <mat-form-field>
          <textarea matInput type="text" placeholder="Problem" [(ngModel)]="issueToEdit.problem"></textarea>
      </mat-form-field>
      <div>
        <app-issue-scope-selector [(ngModel)]="issueToEdit.scope"></app-issue-scope-selector>
        <button mat-raised-button class="dialog-button" (click)="clearScope()">Clear Scope</button>
      </div>
      <div>
        <app-issue-context-selector [scope]="issueToEdit.scope" [(ngModel)]="issueToEdit.context"></app-issue-context-selector>
        <button mat-raised-button class="dialog-button" (click)="clearContext()">Clear Context</button>
      </div>
    </div>
  </mat-card-content>
</div>
<div>
  <button mat-raised-button color="primary" (click)="edit()">Save Issue</button>
  <button mat-raised-button (click)="cancel()">Back</button>
</div>
