<mat-form-field class='autocomplete-full-width'>
  <input type="text"
        placeholder="Pick one scope"
        [(ngModel)]="selectedScope"
        aria-label="Scope"
        matInput [formControl]="controlScope"
        [matAutocomplete]="autoScope">
  <button mat-button matSuffix mat-icon-button (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
  <button *ngIf="edit" matSuffix mat-icon-button (click)="editScope()">
    <mat-icon>create</mat-icon>
  </button>
</mat-form-field>
<mat-autocomplete #autoScope="matAutocomplete"
                  (optionSelected)="scopeSelect()"
                  [displayWith]="displayScope">
  <mat-option *ngFor="let scope of filteredIssueScopes | async" [value]="scope">
    <span> {{scope.name}} </span>
  </mat-option>
</mat-autocomplete>
