.dashboard-container {
  margin: 20px;

  .mat-grid-tile .mat-card {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    position: absolute;
    align-items: center;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    box-sizing: border-box;
  }
}
