.flex-spacer {
    flex: 1 1 auto;
}

.form-field-container {
    display: flex;
    flex-direction: column;
}

.horizontal-centred-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .screen {
    align-items: stretch;
    width: 75%;
    margin: 32px;
  }
}

.centred-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.full-width {
  width: 100%;
  & mat-card{
    width: 90%;
  }
}

.full-height {
  height: 100%;
  & mat-card{
    height: 80%;
  }
}

