.flex-spacer {
    flex: 1 1 auto;
}

.form-field-container {
    display: flex;
    flex-direction: column;
}

.centred-content {
    display: flex;
    justify-content: center;
    .mat-card {
      align-items: stretch;
      width: 75%;
      margin: 32px;
    }
  }