<div class="horizontal-centred-content">
  <mat-card class="screen">
    <mat-card-header>Settings</mat-card-header>
    <mat-card-content>
      <div class="form-field-container">
        <mat-form-field>
          <input matInput placeholder="Redmine api Key" [(ngModel)]="xRedmineApiKey" >
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Backend url (redmine-ng-api server)" [(ngModel)]="backendUrl" >
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>
