<mat-toolbar color="secondary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <span>Administration</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="horizontal-centred-content">
  <mat-card class="screen-mat-card" [routerLink]="'/administration/iteration'">
    <mat-card-header>
      <mat-card-title>Iterations</mat-card-title>
      <mat-card-subtitle>Click here to edit iterations</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
<div class="horizontal-centred-content">
  <mat-card class="screen-mat-card" [routerLink]="'/administration/scope-context'">
    <mat-card-header>
      <mat-card-title>Modules & contexts</mat-card-title>
      <mat-card-subtitle>Click here to edit modules & contexts</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
