<mat-card>
  <mat-card-header>
    <mat-card-title>Support</mat-card-title>
  </mat-card-header>
  <mat-card-content class="full-height">
    <div class="centred-content full-height" [(ngSwitch)]="status" >
      <ng-container *ngSwitchCase="'loading'">
          <mat-spinner></mat-spinner>
      </ng-container>

      <ng-container *ngSwitchCase="'success'">
        <span [ngClass]="{'alert': count.value >= 15, 'normal': count.value < 15 }" class="simple-indcator" >{{count.value}}</span>
      </ng-container>

      <ng-container *ngSwitchDefault >
        <span>Error!</span>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>
