<h1 matDialogTitle>Create new </h1>

<mat-dialog-content>
    <input matInput [(ngModel)]="name" placeholder="Enter a new name">
    <app-issue-scope-selector *ngIf='objectType(object) === "context"' class="full-width full-height"
                            [(ngModel)]="selectedScope">
    </app-issue-scope-selector>
</mat-dialog-content>

<mat-dialog-actions>
  <div *ngIf='objectType(object) === "context"'>
    <button mat-button (click)="createContext()">Create context</button>
    <button mat-button mat-dialog-close>Close dialog</button>
  </div>
  <div *ngIf='objectType(object) === "scope"'>
    <button mat-button (click)="createScope()">Create scope</button>
    <button mat-button mat-dialog-close>Close dialog</button>
  </div>
</mat-dialog-actions>
