<form>
    <mat-form-field class='autocomplete-full-width'>
      <input type="text"
            placeholder="Pick one context"
            [(ngModel)]="selectedContext"
            aria-label="Context"
            id='context'
            matInput [formControl]="controlContext"
            [matAutocomplete]="autoContext"
            (keyup.enter)="addOption()">
    </mat-form-field>
    <mat-autocomplete #autoContext="matAutocomplete"
                      (optionSelected)="contextSelect()"
                      [displayWith]="displayContext">
      <mat-option *ngFor="let context of filteredIssueContext | async" [value]="context">
        <span> {{context.description}} </span>
      </mat-option>
    </mat-autocomplete>
  </form>
